<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
    <mapping>
      <level value="ERROR"/>
      <foreColor value="White"/>
      <backColor value="Red, HighIntensity"/>
    </mapping>
    <mapping>
      <level value="INFO"/>
      <backColor value="Green"/>
    </mapping>
    <layout type="log4net.Layout.PatternLayout">
      <conversioPattern value="%date [%thread] %5level (%file:%line) - %message%newline" />
    </layout>
  </appender>
  <root>
    <level value="INFO" />
    <appender-ref ref="ColoredConsoleAppender" />
  </root>
</log4net>